<svg>
  {{#bubble-motion bubbles=bubbles key="id" as |x y r model|}}
    <circle cx={{x}} cy={{y}} r={{r}}
            stroke="black" fill={{color-for model.fraction}}
          />
  {{/bubble-motion}}
</svg>
<button {{action "toggleMode"}}>Toggle</button>