<svg>
{{#motion-simulator as |world|}}

  {{#if splitMode}}

    {{#each randomSamples as |sample|}}
      {{#physical-object in=world
                         identity=sample.id
                         attractor=leftSide
                         initialPosition=(close-to leftSide)
                         finalRadius=sample.redThings
                         as |x y r|}}
        <circle cx={{x}} cy={{y}} r={{r}} stroke="black" fill={{color-for sample.fraction}} />
      {{/physical-object}}
    {{/each}}

    {{#each randomSamples as |sample|}}
      {{#physical-object in=world
                         identity=sample.id
                         attractor=rightSide
                         initialPosition=(close-to rightSide)
                         finalRadius=sample.blackThings
                         as |x y r|}}
        <circle cx={{x}} cy={{y}} r={{r}} stroke="black" fill={{color-for sample.fraction}} />
      {{/physical-object}}
    {{/each}}

  {{else}}

    {{#each randomSamples as |sample|}}
      {{#physical-object in=world
                         identity=sample.id
                         attractor=middle
                         initialPosition=(close-to middle)
                         finalRadius=sample.totalThings
                         as |x y r|}}
        <circle cx={{x}} cy={{y}} r={{r}} stroke="black" fill={{color-for sample.fraction}} />
      {{/physical-object}}
    {{/each}}

  {{/if}}

{{/motion-simulator}}
</svg>
<button {{action "toggleMode"}}>Toggle</button>{{splitMode}}